

@model App.Web.ViewModels.Manager.FuncionarioViewModel


<div class="form-row">
    <div class="col-sm-6">
        <h1>Dados do Funcionário</h1>
        <hr />
        <form class="needs-validation" method="POST">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="text" class="form-control" asp-for="Email" placeholder="Email" disabled>
                <input type="hidden" asp-for="Email">
            </div>
            <div class="form-group">
                <label asp-for="Nome"></label>
                <input type="text" class="form-control" asp-for="Nome" placeholder="Nome Completo" required>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="DataDeNascimento"></label>
                    <input type="date" class="form-control" asp-for="DataDeNascimento" required>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="CPF"></label>
                    <input type="text" class="form-control" asp-for="CPF" required>
                </div>

                <div class="form-group col-sm-2">
                    <label asp-for="Sexo"></label>
                    @foreach (var item in System.Enum.GetNames(typeof(Sexo)))
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="Sexo" value="@(item)" checked="@(item == Model?.Sexo.ToString())">
                            <label class="form-check-label" asp-for="Sexo">@item</label>
                        </div>
                    }
                    @*<label asp-for="Sexo"></label>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Sexo" value="1">
            <label class="form-check-label">Feminino</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Sexo" value="2">
            <label class="form-check-label">
                Masculino
            </label>
        </div>*@
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-5">
                    <label asp-for="Cargos"></label>
                    <select asp-for="CargoId" asp-items="Model.Cargos" class="form-control"><option value="">Selecione um Cargo</option></select>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Nacionalidade"></label>
                    <input class="form-control" type="text" asp-for="Nacionalidade">
                </div>
            </div>
            <h1>Endereço</h1>
            <hr />
            <div class="form-group">
                <label asp-for="Logradouro"></label>
                <input type="text" class="form-control" asp-for="Logradouro" placeholder="Nome da Rua">
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label asp-for="Numero"></label>
                    <input type="number" class="form-control" asp-for="Numero" placeholder="Número">
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Complemento"></label>
                    <input type="text" class="form-control" asp-for="Complemento" placeholder="Apt, Fundos, etc">
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Bairro"></label>
                    <input type="text" class="form-control" asp-for="Bairro" placeholder="Bairro">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Cidade"></label>
                    <input type="text" class="form-control" asp-for="Cidade" placeholder="Cidade">
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Estado"></label>
                    <input type="text" class="form-control" asp-for="Estado" placeholder="Estado">
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Pais"></label>
                    <input type="text" class="form-control" asp-for="Pais" placeholder="País">
                </div>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Telefone"></label>
                <input type="tel" class="form-control" asp-for="Telefone" placeholder="(XX)XXXXXXXXX">
            </div>

            <div class="form-row">
                <button type="submit" name="btn" class="btn btn-info btn-sm">Salvar</button>


            </div>
        </form>
    </div>
</div>
