@model App.Web.ViewModels.Account.RegisterViewModel
@{

    ViewData["Title"] = "Registrar Usuário";
    
}

<title>@ViewData["Title"]</title>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Criar uma nova conta</h4>
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="form-group">
                <label asp-for="Roles"></label>
                @Html.DropDownList("Role", new SelectList(Model.Roles, "Text", "Text"))
            </div>
            <button class="btn btn-dark" type="submit">Registrar</button>
        </form>
    </div>
</div>        

